body, ul, li, main, header, footer {
  margin: 0;
  padding: 0;
}


html {
  position: relative;
  min-height: 100%;

  
}

body {
  margin-bottom: 40px;
  color: #5a5a5a;

}


@font-face {
    font-family: BebasNeueBook; /* Имя шрифта */
    src: url(fonts/BebasNeueRegular.ttf); /* Путь к файлу со шрифтом */
   }

body {
  font-family: BebasNeueBook;
}
#navbar {


}
/* Carousel base class */
.carousel {
  height: 500px;
 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  /*height: 500px;*/
}


/* Center align the text within the three columns below the carousel */

.marketing {
  margin-top:70px;
  min-height: 100%;


}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* FOOTER */
.footer {
  border-top: 1px solid #eee;
  padding-top: 32px;
  padding-top: 2rem;
  margin-top: 40px;
  display: -webkit-flex;
  display: flex; 
  justify-content: space-between;
  align-items: center;

}
  .footer .footerLeft {
    width: 33%;
    margin: auto;
    
  }
  .footer .footerRight {
    width: 33%;
    margin: auto;
    text-align: right;
  }

  .footer .socialRound {
    width: 33%;
    margin: auto;
    text-align: center;
  }    
  .footer .socialRound a {
    padding-left: 16px;
    padding-left: 1rem; }


.footer i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #222222;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.footer .fa-facebook:hover {
    color: #3b5998;
}
.footer .fa-twitter:hover {
    color: #00ABE3;
}
.footer .fa-vk:hover {
    color: #45668e;
}
.footer .fa-instagram:hover {
    color: #517fa4;
}



#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
     }

.gallery {
  /*margin-left: 20%;
  margin-right: 20%;*/
  max-width: 100%;
  display: flex;
}

.flexGallery {
  max-width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;

}

.flexGalleryItem {
  margin: 20px;
  /*flex: 1 1 auto;*/
}


.gallery img:hover {
  border: 1px solid #fff;
  cursor:pointer;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 40px;
  }
  .flexContainer main {
	margin-left: 95px; 
	margin-right: 95px;
  }
  
}

@media (max-width: 500px) {
 	
	.flexContainer main {
	margin-left: 10px; 
	margin-right: 10px;
  }
  
}
@media all and (max-width: 500px) {
  
  .footer {
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
    .footer .footerLeft {
    order: 2;
    margin-top:10px;
    width: 100%;
    text-align: center;
    
  }
  .footer .footerRight {
    display: none;

  }

  .footer .socialRound {
    order: 1;
    width: 100%;
    margin: auto;
    text-align: center;
  }    
  .footer .socialRound a {
    padding-left: 16px;
    padding-left: 1rem; 
	}
	

  
}